*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer {
  background-color: black;
  color: white;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin-top: 5px;
}

.navbarstyle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  height: 100px;
}

.active{
  border: 1px solid black;
  padding: 4px 6px;
  border-radius: 4px ;
}

.links{
  padding:4px 6px ;
  text-decoration: none;
  color: black;
  margin: 0px 2px;

}


















/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
